
/* GENERAL */
body {
	background-color: #ffffff;
	overflow-x: hidden;
	padding-top: 85px;
	font-size: 15px;
}

.bg-white {
	background-color: #ffffff;
}

.no-padding {
	padding: 0px;
}
.no-margin-top {
	margin-top: 0px;
}

.margin-bot-0 {
	margin-bottom: 0;
}

.fs-x-large {
	font-size: x-large;
}
.fs-45 {
	font-size: 45px;
}

.fc-black {
	color: #000000;
}

.cursor-pointer {
	cursor: pointer;
}

.hvr-underline-from-center::before, .hvr-overline-from-center::before {
	background: #12a61f
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

@media (max-width: 767px) { /* ALL MOBILE */
    .btn-circle {
        width: 20px;
        height: 20px;
        padding: 0px 0;
        border-radius: 10px;
        font-size: 10px;
    }
}
@media (max-width: 991px) { /* RESOLUTION IPAD */
}


/* MASTER.INDEX */
nav.navbar.navbar-default.mpsi-nav {
	box-shadow: 0 1px 10px 0px #d0cfcf;
}
.mpsi-nav {
    min-height: 85px !important;
}

a.mpsi-nav {
	min-height: initial !important;
}
.mpsi-nav-menu {
	margin-left: 20px;
}
.cart > a {
	margin-top: 15px;
	margin-right: 20px;
}
.cart > a > i {
	font-size: xx-large;
}


@media (max-width: 767px) { /* ALL MOBILE */
    .mpsi-nav-menu {
		margin-left: 0;
	}
}
@media (max-width: 991px) { /* RESOLUTION IPAD */

}

/* HOMEPAGE */

.mpsi-right-carousel, .mpsi-left-carousel {
	width: 4%;
}

.mpsi-animation-duration {
	animation-duration: 400ms
}
#myCarousel > .carousel-inner img {
	width: 100%;
	object-fit: cover;
	height: 680px;
}

section#about, section#menu {
	padding: 40px 0;
}
.mpsi-btn-more {
	margin: 0 auto;
	border-radius: 0px;
	display: block;
	padding: 15px 35px 15px calc(35px - 12px);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.21);
	margin-bottom: 20px;
}

#about-left > .row > div {
	margin-bottom: 25px;
}
#about-left > .row  img {
	width: 100%;
	object-fit: cover;
	box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.21);
	height: 155px;
}
#about-right > .text-center > p {
	padding: 0px 12%;
}
.mpsi-hr::before, .mpsi-hr::after {
	border-bottom: 1px solid #888888;
	width: 25%;
	content: "";
	display: inline-block;
	margin-bottom: 5px;
}
.mpsi-hr {
	margin : 15px 0;
}
.mpsi-hr > i {
	color: #12a61f;
}

#menu {
	background-color: #12a61f;
	color: #ffffff;
}
#menu #menu-card {
	margin-bottom: 20px;
}
#menu #menu-card > div {
	border: 1px solid #ddd;
}
#menu #menu-card > div > div.description {
	display: flex;
	flex-direction: column;
	padding: 10px 20px 0;
	height: 200px;
	background-color: #ffffff;
	color: #666;
}
#menu #menu-card > div > div.description h4 {
	font-weight: bold;
	color: #12a61f;
}
#menu #menu-card > div > div.description p {
	flex: 1;	
}
#menu #menu-card > div > div.image {
	text-align: center;
}
#menu #menu-card > div > div img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}
#menu-card .button-cart {
	border-top: 1px solid #ddd;
}
#menu-card .button-cart button {
	width: 100%;
	border: none;
	display: inline-block;
	background-color: #eee;
	color: #888;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	padding: 10px 6px;
}
#menu-card .button-cart button i {
	font-size: larger;
}


@media (max-width: 767px) { /* ALL MOBILE */
    
}
@media (max-width: 991px) { /* RESOLUTION IPAD */

}