
/* GENERAL */
body {
	background-color: #ffffff;
	overflow-x: hidden;
	padding-top: 85px;
	font-size: 15px;
}

.bg-white {
	background-color: #ffffff;
}

.no-border-radius {
	border-radius: 0;
}
.no-padding {
	padding: 0px;
}
.no-margin-top {
	margin-top: 0px;
}

.margin-bot-0 {
	margin-bottom: 0;
}

.fs-x-large {
	font-size: x-large;
}
.fs-45 {
	font-size: 45px;
}

.fc-black {
	color: #000000;
}

.cursor-pointer {
	cursor: pointer;
}

.hvr-underline-from-center::before, .hvr-overline-from-center::before {
	background: #12a61f;
}

.triangle-right {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid #12a61f;
	border-bottom: 25px solid transparent;
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

@media (max-width: 767px) { /* ALL MOBILE */
    .btn-circle {
        width: 20px;
        height: 20px;
        padding: 0px 0;
        border-radius: 10px;
        font-size: 10px;
    }
}
@media (max-width: 991px) { /* RESOLUTION IPAD */
}


/* MASTER.INDEX */
nav.navbar.navbar-default.mpsi-nav {
	box-shadow: 0 1px 10px 0px #d0cfcf;
}
.mpsi-nav {
    min-height: 85px !important;
}

a.mpsi-nav {
	min-height: initial !important;
}
.mpsi-nav-menu {
	margin-left: 20px;
}
.cart > a {
	margin-top: 15px;
	margin-right: 20px;
}
.cart > a > i {
	font-size: xx-large;
}
.cart > a > span {
	font-size: x-large;
}
.dropdown {
	margin-top: 20px;
}
#footer {
	color: #ffffff;
}
#footer div.col-md-4 p {
	padding-right: 20%;
}
.mpsi-footer-subtitle {
	font-size: 21px;
	color: #F8512F;
}
#footer .copyright {
	margin-top: 8%;
}
.mpsi-center-page
{
    background-color:black;
    position:absolute;
    left:50%;
    top:50%;
}
.mpsi-page-animation {
	-webkit-animation-name: fadein;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-name: fadein;
    animation-duration: 2s;
    animation-fill-mode: both;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #12a61f;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}


@media (max-width: 767px) { /* ALL MOBILE */
    .mpsi-nav-menu {
		margin-left: 0;
	}
	#footer div.row {
		text-align: center;
	}
	#footer div.col-md-4 p {
		padding: 0 10px;
	}
}
@media (max-width: 991px) { /* RESOLUTION IPAD */

}

/* HOMEPAGE */

.mpsi-right-carousel, .mpsi-left-carousel {
	width: 4%;
}

.mpsi-animation-duration {
	animation-duration: 400ms
}
#myCarousel > .carousel-inner img {
	width: 100%;
	object-fit: cover;
	height: 680px;
}

section#about, section#menu, section#footer > div {
	padding: 40px 0;
}
.mpsi-btn-more {
	margin: 0 auto;
	border-radius: 0px;
	padding: 15px 35px 15px calc(35px - 12px);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.21);
	margin-bottom: 20px;
}

#about-left > .row > div {
	margin-bottom: 25px;
}
#about-left > .row  img {
	width: 100%;
	object-fit: cover;
	box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.21);
	height: 155px;
}
#about-right > .text-center > p {
	padding: 0px 12%;
}
.mpsi-hr::before, .mpsi-hr::after {
	border-bottom: 1px solid #888888;
	width: 25%;
	content: "";
	display: inline-block;
	margin-bottom: 5px;
}
.mpsi-hr {
	margin : 15px 0;
}
.mpsi-hr > i {
	color: #12a61f;
}

#menu {
	background-color: #12a61f;
	color: #ffffff;
}
#menu #menu-card {
	margin-bottom: 20px;
}
#menu #menu-card > div {
	border: 1px solid #ddd;
}
#menu #menu-card > div > div.description {
	display: flex;
	flex-direction: column;
	padding: 10px 20px 0;
	height: 200px;
	background-color: #ffffff;
	color: #666;
}
#menu #menu-card > div > div.description h4 {
	font-weight: bold;
	color: #12a61f;
}
#menu #menu-card > div > div.description p {
	flex: 1;	
}
#menu #menu-card > div > div.image {
	text-align: center;
}
#menu #menu-card > div > div img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}
#menu-card .button-cart {
	border-top: 1px solid #ddd;
}
#menu-card .button-cart a {
	width: 100%;
	border: none;
	display: inline-block;
	background-color: #eee;
	color: #888;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	padding: 10px 6px;
	border-radius: 0;
}
#menu-card .button-cart a i {
	font-size: larger;
}


@media (max-width: 767px) { /* ALL MOBILE */
    
}
@media (max-width: 991px) { /* RESOLUTION IPAD */

}

/* ITEM DETAILS */
#main-section .description .btn {
	margin-bottom: 20px;
}
#main-section .description p {
	padding-right: 25%;
	font-size: 16px;
}
#suggest-section .container {
	padding: 10px;
	border: 1px solid #eee;
	width: 100%;
}

@media (max-width: 767px) { /* ALL MOBILE */
    
}
@media (max-width: 991px) { /* RESOLUTION IPAD */

}

/* CART LIST */
#cart-list table .row-total td {
	padding-top: 20px;
	border-top: 0px;
}
#cart-list table thead tr {
	background-color: #12a61f;
}
#cart-list table thead td {
	background-color: #12a61f;
	border: 0;
	color: #ffffff;
	font-weight: bold;
	font-size: 18px;
}
#cart-list table tbody td {
	vertical-align: middle;
}
#cart-list table tbody .image {
	width: 200px;
	padding-left: 0;
}
#cart-list table tbody .image img {
	max-width: 200px;
	max-height: 135px;
}
#cart-list table tbody .product {
	font-size: 21px;
	font-weight: bold;
}
#cart-list table tbody .qty .plus, #cart-list table tbody .qty .minus {
	padding: 4px 8px;
	background-color: #cccccc;
	cursor: pointer;
}
#cart-list table tbody .qty input {
	width: 50px;
	text-align: center;
	border: 1px solid black;
}
#cart-list table tbody .subtotal div {
	color: #12a61f;
	font-weight: bold;
	font-size: 21px;
}
#cart-list table tbody .delete a {
	padding: 4px 8px;
	background-color: #cccccc;
	color: #ffffff;
}
#cart-list table tbody .row-total td {
	font-size: 21px;
	font-weight: bold;
}
#cart-list .checkout {
	display: block;
}